@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient( rgba(0,0,0,0.281), rgba(0,0,0,0.308)),url('background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#divTopo {
    background-color: rgb(12, 12, 12);
    height: 80px;

}

#divTopo #Empreiteira {
    font-size: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin-right: 1px;
    margin-left: 1px; /*espaço invisivel á esquerda dele*/

    position: absolute;
    left: 1%;
    top: 1.5%;
}
.titulo{
    font-size:  50px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}


#cliente {

    position: absolute;
    top: 32px;
    left: 280px;
    text-decoration: none;
    color: #fff;
}

#funcionario {

    position: absolute;
    top: 32px;
    left: 360px;
    text-decoration: none;
    color: #fff;
}

#obra {

    position: absolute;
    top: 32px;
    left: 480px;
    text-decoration: none;
    color: #fff;
}

#os {

    position: absolute;
    top: 32px;
    left: 550px;
    text-decoration: none;
    color: #fff;
}




#entrar {

    position: absolute;
    top: 32px;
    right: 295px;
    text-decoration: none;
    color: #fff;
}

#funcionalidades {

    position: absolute;
    top: 32px;
    right: 130px;
    text-decoration: none;
    color: #fff;
}

#saibaMais {

    position: absolute;
    top: 32px;
    right: 300px;
    text-decoration: none;
    color: #fff;
}

#contato {

    position: absolute;
    top: 32px;
    right: 30px;
    text-decoration: none;
    color: #fff;
}


#campos {

    position: absolute;
    left: 36%;


}

#subTitulo {
    display: flex;
    align-items: center;
    justify-content: center;

}


#c1 {
    position: absolute;
    left: 18%;
    top: 110px;
}
#c2 {
    position: absolute;
    left: 23%;
    top: 110px;
}
#c3 {
    position: absolute;
    left: 42%;
    top: 110px;
}
#c4 {
    position: absolute;
    left: 47%;
    top: 110px;
}
#c5 {
    position: absolute;
    left: 64%;
    top: 110px;
}
#c6 {
    position: absolute;
    left: 70%;
    top: 110px;
}

.campos #botaoCliente {
    
    margin-top: 0.4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campos #contCampos {

    display: flex;
    align-items: center;
    justify-content: center;
}

#tabela-clientes {
    width: 80%;
    margin: auto;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center; 

}

#centro {

    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);


    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;

}

#centro .botoes{
    margin-top: 30px;
}
#centro .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
#centro .botoes button.n-overlay{
    color: white;
    background: none;
    border: 2px solid white;
}
#centro .botoes button.n-overlay:hover{
    color: black;
    background-color: white;
}
#centro .botoes button.overlay{
    background: white;
    color: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}

.login-block {
    width: 500px;
    padding: 50px 80px 80px 80px;
    background: #fff;
    border-radius: 5px;
    border-top: 63px solid #000000;
    margin: 110px auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}
.formatarCampo {
    display: inline-block;
    margin-bottom: -0.5rem;
    padding: 14px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0px 21px 0 10px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #000000;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #000000;
}



/* Botão novo */

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.div-button {
    display: flex;
    width: 20%;
    margin: auto;
}

/* Campo de busca */

.w3-input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}
.w3-border{
    border:1px solid #ccc!important;
    width: 100%;
    
}
